.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 22% repeat(12, 4.66%) 22%;
  grid-template-rows: 100%; }

.grid-fluid {
  display: grid;
  grid-template-columns: 0px repeat(12, 8.33%) 0px;
  grid-template-rows: 100%; }

.container {
  grid-column: 2/14; }
