* {
  margin: 0;
  padding: 0;
  font-family: 'sf-pro';
  font-size: 1em; }

h1 {
  font-size: 200%; }

hr {
  border: 1px solid #ddd; }

.wrapper {
  width: 100%; }

.header-bar {
  height: 105px; }

.header {
  background-color: #2C2C2C;
  width: 100%;
  position: fixed;
  z-index: 1000; }

.header-content {
  width: 1200px;
  margin: auto;
  height: 35px; }

.logo {
  float: left;
  margin-left: 40px; }

.logo-text {
  font-size: 200%;
  line-height: 35px;
  font-weight: 100; }

.logo-text a {
  text-decoration: none;
  color: #fff; }

.navigation {
  line-height: 35px; }

.nav-bar {
  list-style: none;
  float: right; }

.nav-bar li {
  display: inline-block;
  margin-right: 40px; }

.nav-bar li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }

.nav-bar li a:hover {
  color: #B6B6B6;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out; }

.closed-club {
  width: 100%;
  background-color: #000;
  padding-top: 35px; }

.closed-club-content {
  width: 1200px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.ccinput {
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  height: 30px;
  margin-right: 30px;
  padding-left: 8px;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  line-height: 30px; }

.ccinput:hover, .ccinput:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  outline: none; }

.ccbtn {
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #fff;
  background-color: #6bf;
  height: 30px;
  width: 140px;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  cursor: pointer; }

.ccbtn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out; }

.photo-list {
  width: 100%;
  padding: 0; }

.photo-list {
  background-color: #000; }

.image-wrapper {
  overflow: hidden;
  width: 24%;
  height: 20%;
  display: inline-block; }

.image-wrapper img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1); }

.image-wrapper img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  overflow: hidden;
  -webkit-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 2000ms cubic-bezier(0.19, 1, 0.22, 1); }

.content-wrapper {
  background-color: #f6f6f6;
  height: 100%;
  width: 100%; }

.site-content {
  width: 1200px;
  height: auto;
  margin: auto;
  background: #F6F6F6;
  padding-top: 70px; }

.price-list {
  float: left;
  height: 100%;
  margin: 0;
  padding: 0; }

.price-list-content {
  max-width: 800px;
  width: 730px;
  text-align: center;
  padding: 35px;
  background-color: #fafafa;
  border: 2px solid #e3e3e3;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.phone-name {
  font-size: 200%;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #2c2c2c; }

.service-table {
  width: 100%;
  border-collapse: collapse; }

.service-table tbody tr td {
  border-bottom: 2px solid #ddd;
  border-right: none; }

.service-table tbody tr:first-child td {
  border-top: 2px solid #ddd; }

.service-iphone-btn {
  width: 60px; }

.service-name {
  text-align: left;
  height: 50px; }

.service-price {
  text-align: right; }

.side-bar {
  float: right;
  padding: 35px;
  background-color: #fafafa;
  border: 2px solid #e3e3e3;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 300px;
  text-align: center; }

.span-color {
  color: #DF594E; }

.currency {
  margin-left: 5px;
  font-size: 200%;
  font-weight: bold; }

.price-counter {
  margin-bottom: 10px;
  display: inline-block; }

.price-counter-input {
  border: none;
  background: #fafafa;
  text-align: right;
  font-size: 10%;
  height: 10px;
  width: 100px;
  font-weight: bold;
  visibility: hidden; }

.input-buffer {
  font-size: 200%;
  font-family: 'sf-pro'; }

.input-buffer {
  position: absolute;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
  white-space: nowrap; }

.price {
  text-align: center; }

.pcform {
  text-align: center; }

.pcinput {
  width: 200px;
  height: 30px;
  padding-left: 8px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  background-color: #fff; }

.pcbtn {
  width: 210px;
  height: 32px;
  color: #fff;
  background-color: #DF594E;
  border: 1px solid #A6433A;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.pcbtn:hover {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #fff;
  color: #DF564E; }

.desc-block {
  height: 50px;
  text-align: center;
  margin-top: 20px;
  width: 250px;
  padding-left: 10px; }

.desc-block h2 {
  margin: 0;
  padding: 0;
  line-height: 50px;
  display: inline-block; }

.reward-icon {
  height: 50px;
  width: 50px;
  fill: #fff;
  float: left; }
